
@{
    ViewBag.Title = "MusteriEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Adı</label>
        <input type="text" class="form-control" name="musteriAd" required autofocus/>

    </div>
    <br />
    <div>
        <label>Soyadı</label>
        <input type="text" class="form-control" name="musteriSoyad" required />


    </div>
    <br />
    <div>

        <button class=" btn btn-warning" >Müşteri Ekle</button>

    </div>
</form>



